* {
  box-sizing: border-box; }

body {
  font-family: Courier, Arial, serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  background-color: #000;
  background-image: url(../img/IMG_4881.jpg);
}

.heading {
  background-color: inherit;
  background-image: url(.../img/heading.jpg);
}

.footer {
  color: #ccc;
  font-style: italic;
  background-color: inherit;
}

.box {
  background-color: #ccc;
}

h1{
    color: #ccc;
    font-style: italic;
}

h1 small {
  color: #ccc;
  font-size: .6em;
}

a {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #FFF;
  text-decoration: none;
}
